#form_field {
    position:relative;
    width:300px;
}

#textfield2 {
    position:absolute;
    background:transparent;
    border:0;
    color:#000;
    font-size:20px;
    text-align:center;
    width:100%;
    top:20px;
    outline:none;
}